/* 全局替换字体 */
body,
div,
p,
li,
select,
option {
    font-family: '思源黑体', '微软雅黑', serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: '思源宋体', sans-serif !important;
}

code,
pre {
    font-family: 'MPlus', 'Sarasa Mono T SC', monospace !important;
    text-shadow: 0 0 0.05em #666 !important;
    color: #0089d8;
}