/* 隐藏图片显示，弱化大标题 */
video,
img {
    background: #FFF !important;
    opacity: 0.01 !important;
}

video:hover,
img:hover {
    opacity: 0.9 !important;
    transition: 2s !important;
}

h1 {
    font-size: 16px !important;
    color: #ff669640 !important;
}

h2 {
    font-size: 15px !important;
    color: #6ac !important;
}

h3 {
    font-size: 14px !important;
    color: #86a !important;
}

h4 {
    font-size: 13px !important;
    color: #668 !important;
}

@-moz-document domain("appinn.com") {
    .main-container {
        width: 100%;
        margin: 0 0 0 0;
    }
    #page,
    .article {
        margin: 0 80px;
        width: 90%;
    }
    #content_box .latestPost h2.title.post-title a {
        font-size: 15px;
    }

    .secondary-navigation {
        opacity: 0.15;
        transition: 0.5s;
    }

    .secondary-navigation:hover {
        opacity: 0.8;
        transition: 1.5s;
    }
}

@-moz-document domain("jandan.net") {
    #box,
    #wrapper > #header {
        opacity: 0.1;
    }

    img {
        max-height: 100%
    }

    #wrapper,
    #content,
    .commentlist .row {
        margin: 0;
        width: 100%;
    }

    #body {
        background: none;
    }

    #nav_prev a {
        display: none;
    }

    #float {
        display: none;
    }
}

@-moz-document domain("zhihu.com") {
    /* 知乎 */
    .AppHeader,
    .AppHeader-inner,
    .ContentItem-actions,
    .QuestionHeader-title,
    .Sticky {
        opacity: 0.1;
    }

    .ContentItem-title {
        font-size: 15px;
        font-weight: 400;
    }
}

@-moz-document domain("v2ex.com") {
    /* 淡化 logo 和广告 */
    .adsbygoogle,
    #Logo {
        opacity: 0.05;
        transition: 0.5s;
    }
    /* 缩小标题 */
    h1 {
        font-size: 13px;
        /* 保证鼠标滚动一次到正文 */
        line-height: 50px;
        height: 50px;
    }
    /* 隐藏背景 */
    #Wrapper {
        background-color: white;
        background-image: none;
    }
}

@-moz-document domain("cnbeta.com") {
    iframe,
    .cnbeta-side-sponsor,
    .topContent,
    .item + .cooperation,
    .w1200 .mt5 {
        display: none !important;
    }

    * {
        background: #FFF !important;
        background-image: none !important;
    }
}

@-moz-document domain("ithome.com") {
    #tt50,
    .dajia,
    .adblock,
    .sidebar {
        display: none;
    }

    h1 {
        font-size: 15px !important;
        color: #c6f;
    }
}

@-moz-document domain("fmylife.com") {
    .icon-logo_fmylife {
        display: none;
    }
    .btn-vdm,
    .btn-down,
    .bullecomment {
        opacity: 0.1;
    }
}

@-moz-document domain("nga.cn") {
    * {
        font-size: 15px !important;
    }
}

@-moz-document domain("dushu369.com") {
    .cntitle {
        font-size: 13px;
        color: white;
    }
    .tabledh,
    .tabledh2 {
        background-color: white;
    }
}