# idea
*.iml
/.idea/

# ahk



# js
/node_modules/

# python
/venv/
/.venv/

# playwright
/test-results/
/playwright-report/
/playwright/.cache/

# tampermonkey
/js/tampermonkey/**/dist.js
/js/tampermonkey/**/dist.css
