# idea
*.iml
/.idea/

# js
/node_modules/

# python
/venv/
/.venv/

# playwright
/test-results/
/playwright-report/
/playwright/.cache/

# tampermonkey
/js/tampermonkey/**/dist.js
/js/tampermonkey/**/dist.css

# clash
ahk/clash/config/cache.db
ahk/clash/config/Country.mmdb
ahk/clash/config/ruleset/*.yaml
