<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8" />
        <title>options</title>
        <link rel="stylesheet" href="./css/style.css" />
    </head>
    <body>
        <div id="app">
            <aside>
                <ul>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                </ul>
            </aside>
            <article>
                <div class="title">History Trends Unlimited: Search</div>
                <label class="search"> Search for: <input v-model="keyword" /> <button @click="search">Go</button> </label>
                <div class="pager">Page 1 of all history | Sort: Newest | Export These Results NextPrev</div>
                <div class="list">
                    <div v-for="item in list">
                        <span>{{item.id}}</span>
                        <span>{{item.title}}</span>
                        <span>{{item.url}}</span>
                    </div>
                </div>
            </article>
            <aside></aside>
        </div>
    </body>
    <script src="./js/vue3.runtime.global.prod.js"></script>
    <script type="module" src="./js/options.js"></script>
</html>
