#OnySakuraTranslatorShowIcon {
    background-color: white;
    border: #fd6848 solid 2px;
    border-radius: 100%;
    box-shadow: 3px 3px 5px gray;
    color: #fd6848;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 26px;
    font-size: 17px;
    cursor: pointer;
    position: fixed;
    opacity: 1;
    z-index: 30000;
}

/* ---------- 图标渐入 ---------- */
#OnySakuraTranslatorShowIcon.icon-enter {
    transform: scale(0.3, 0.3);
}

#OnySakuraTranslatorShowIcon.icon-enter-active {
    transition: all 0.1s ease-in;
}

/* ---------- 图标渐出 ---------- */
#OnySakuraTranslatorShowIcon.icon-leave-to {
    transform: scale(0, 0);
}

#OnySakuraTranslatorShowIcon.icon-leave-active {
    transition: all 0.1s ease-out;
}

/* ---------- 结果渐入 ---------- */
#OnySakuraTranslatorResult.result-enter {
    transform: scale(1, 0);
}

#OnySakuraTranslatorResult.result-enter-active {
    transition: all 0.1s ease-in;
}

/* ---------- 结果渐出 ---------- */
#OnySakuraTranslatorResult.result-leave-to {
    transform: scale(1, 0);
}

#OnySakuraTranslatorResult.result-leave-active {
    transition: all 0.1s ease-out;
}

#OnySakuraTranslatorShowIcon:hover {
    background-color: #fd6848;
    color: white;
}

#OnySakuraTranslatorShowIcon:active {
    margin-top: 2px;
}

#OnySakuraTranslatorResult {
    font-size: 15px;
    color: black;
    line-height: 25px;
    background-color: #FFFAF6;
    border: #fd6848 solid 2px;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    position: fixed;
    z-index: 100000001;
}


#OnySakuraTranslatorResult .translateResult {
    margin: 8px;
    padding-top: 8px;
    border-top: #ffc1c1 solid 1px;
    text-align: left;
}

#OnySakuraTranslatorResult .translateResult:first-of-type {
    border-top: 0;
}

#OnySakuraTranslatorResult .translateResult .translatorName {
    cursor: pointer;
}

.OnySakuraTranslator_dict {
    margin-top: 10px;
}

.OnySakuraTranslator_dict .base_form {
    font-size: 14px !important;
    font-family: "Sarasa Term SC", mononoki, monospace;
}

.OnySakuraTranslator_dict .terms {
    margin-left: 10px;
}

.OnySakuraTranslator_dict .term {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.OnySakuraTranslator_dict .term {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.OnySakuraTranslator_dict .term .tooltiptext {
    visibility: hidden;
    background-color: #fdc;
    color: #555;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    white-space: pre;
    top: 200%;
    left: 0;
}

.OnySakuraTranslator_dict .term:hover .tooltiptext {
    visibility: visible;
}


.OnySakuraTranslator_dict .pos {
    width: 50px;
    font-size: 10px;
    font-style: italic;
    display: inline-block;
    text-align: right;
}

.OnySakuraTranslator_dict .pos_1 {
    color: #369;
}

.OnySakuraTranslator_dict .pos_2 {
    color: #396;
}

.OnySakuraTranslator_dict .pos_3 {
    color: #639;
}

.OnySakuraTranslator_dict .pos_4 {
    color: #693;
}

.OnySakuraTranslator_dict .pos_5 {
    color: #936;
}

.OnySakuraTranslator_dict .pos_6 {
    color: #963;
}

#OnySakuraTranslatorConfig {
    background-color: white;
    border: #fd6848 solid 2px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
    color: #fd6848;
    box-sizing: border-box;
    width: 800px;
    height: 360px;
    padding: 30px;
    text-align: left;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000005;
}

#OnySakuraTranslatorConfig .configItem.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#OnySakuraTranslatorConfig .configItem {
    margin-bottom: 20px;
    margin-left: 20px;
}

#OnySakuraTranslatorConfig .configItem.translator label,
#OnySakuraTranslatorConfig .configItem.pos label {
    padding: 10px 30px 10px 0;
}

#OnySakuraTranslatorConfig .configItem.translator > span,
#OnySakuraTranslatorConfig .configItem.pos > span,
#OnySakuraTranslatorConfig .configItem.pos > div > label > span {
    display: inline-block;
    width: 100px;
    padding: 3px 30px 3px 0;
}

#OnySakuraTranslatorConfig .configItem.pos .posValue {
    margin-left: 34px;
}


#OnySakuraTranslatorConfig .configItem.pos .posValue > label > span {
    width: 75px;
}

#OnySakuraTranslatorConfig .configItem.pos .posValue input {
    width: 50px;
}